@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin-top: 128px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.owl-theme .owl-nav {
  display: none;
}

.owl-theme .owl-dots {
  margin-top: -40px;
  position: relative;
}

.categoriesCarousel .owl-dots {
  display: none;
}

.categoriesCarousel .owl-stage {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.categoriesCarousel li {
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  gap: 5px;
  padding: 12px;
  border-radius: 10px;
  margin-right: 7px;
}

.categoriesCarousel .owl-item:last-child {
  padding-left: 10px;
}

.categoriesCarousel .owl-stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
